{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Page Title</title>
    <!-- Add any necessary CSS files -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
    <!-- Dark theme toggle button -->
    <button id="dark-theme-toggle">Toggle Dark Theme</button>

    <!-- Page content -->
    <div class="container">
        <h1>Welcome to the AI Sports Analysis Tool (AIST)</h1>
        <p>
            In this project, we're using artificial intelligence to analyze datasets of team and player stats in sports.
            Our goal is to uncover patterns in the data, revolutionizing how teams approach their game and offering
            straightforward insights to boost their competitive edge.
        </p>
        <p>
            The cool part is that we aim to make these advanced tools easy to use for all kinds of sports teams, big or
            small, by sharing practical advice derived from the data. This project is about making smart insights
            accessible
            to everyone in the world of sports, empowering teams to make better decisions and elevate their game.
        </p>
        <a href="{% url 'team_analysis' %}"><button>Team-based Analysis</button></a>
        <a href="{% url 'player_analysis' %}"><button>Player-based Analysis</button></a>
    </div>

    <!-- JavaScript to handle dark theme toggle -->
    <script src="{% static 'js/dark-theme-toggle.js' %}"></script>
</body>

</html>