{% extends 'base.html' %}

{% block title %}Team Analysis - AIST{% endblock %}

{% block content %}
    <!-- Page content -->
    <div class="container">
        <h2>AI Sports Analysis Tool (AIST)</h2>
        <h2>Player Analysis</h2>
        {% if empty_database %}
        <p>No data available in the database.</p>
        {% else %}
        <form method="get" action="{% url 'player_analysis' %}">
            <label for="team">Select Team:</label>
            <select name="year" id="year">
                {% for year in years %}
                    <option value="{{ year }}" {% if year == selected_year %}selected{% endif %}>
                        {{ year }}
                    </option>
                {% endfor %}
            </select>
            

            <label for="year">Select Year:</label>
            <select name="year" id="year">
                {% for year in years %}
                    <option value="{{ year }}" {% if year == selected_year %}selected{% endif %}>
                        {{ year }}
                    </option>
                {% endfor %}
            </select>            

            <input type="submit" value="Submit">
        </form>

        <h2>Selected Team: {{ selected_team_data.name }} ({{ selected_team_data.city }})</h2>
        <h2>Selected Year: {{ selected_year_data }}</h2>

        {% if players %}
        <form method="get" action="{% url 'player_analysis' %}">
            <label for="player">Select Player:</label>
            <select name="player" id="player">
                {% for player in players %}
                <option value="{{ player.id }}">{{ player.name }}</option>
                {% endfor %}
            </select>

            <input type="hidden" name="team" value="{{ selected_team }}">
            <input type="hidden" name="year" value="{{ selected_year }}">

            <input type="submit" value="Submit">
        </form>

        <!-- Display analysis results here based on selected_team_data, selected_year_data, and selected_player_data -->
        {% else %}
        <p>No players available for the selected team and year.</p>
        {% endif %}
        {% endif %}
    </div>
{% endblock %}