<!-- base.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title class="container">{% block title %}AIST - Analysis{% endblock %}</title>
    <!-- Add any necessary CSS files -->
    <link rel="stylesheet" href="{% static 'analysis/css/styles.css' %}">
    <link id="theme-style" rel="stylesheet" href="{% static 'css/light.css' %}">
</head>
<body>
    <header class="container">
        <!-- Header content goes here -->
        <h1>Welcome to AIST - Orion Innovation Hackathon </h1>
    </header>

    <!-- Dark theme toggle button -->
    <!-- <button  id="dark-theme-toggle">C</button> -->

    <main>
        <!-- Main content block, to be overridden by child templates -->
        {% block content %}
        {% endblock %}
    </main>

    <br><br><footer class="container">
        <!-- Footer content goes here -->
        <a href="{% url 'main_page' %}">Go to Main Page</a>
        <p>&copy; 2024 AIST - All rights reserved</p>
    </footer>
    <!-- JavaScript to handle dark theme toggle -->
    <script src="{% static 'js/dark-theme-toggle.js' %}"></script>

    <!-- Footer Start -->
    <div class="container-fluid pt-4 px-4">
        <div class="bg-secondary rounded-top p-4">
            <div class="row">
                <div class="col-12 col-sm-6 text-center text-sm-start">
                    &copy; <a href="#">2024 AIST</a>, All Right Reserved.
                </div>
                <div class="col-12 col-sm-6 text-center text-sm-end">
                    <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                    Designed By <a href="https://htmlcodex.com">HTML Codex</a>
                    <br>Distributed By: <a href="https://themewagon.com" target="_blank">ThemeWagon</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->
</body>
</html>