{% extends 'base.html' %}

{% block title %}Team Analysis - AIST{% endblock %}

{% block content %}
<!-- Page content -->
<div class="container">
    <h2>Match Analysis (2021)</h2>
    <form method="post">
        {% csrf_token %}
        <label for="team1">Select Home Team:</label>
        <select id="team1" name="team1">
            {% for team in teams %}
            <option value="{{ team.Team }}">{{ team.Team }}</option>
            {% endfor %}
        </select>
        <br>
        <label for="team2">Select Guest Team:</label>
        <select id="team2" name="team2">
            {% for team in teams %}
            <option value="{{ team.Team }}">{{ team.Team }}</option>
            {% endfor %}
        </select>
        <br>
        <button type="submit">Predict</button>
    </form>
    
    {% if dummy %}
    <h2>Match Prediction</h2>
    <p>{{ team1_name }} vs {{ team2_name }}</p>
    <p>Probability of {{ team1_name }} winning: {{ probability_team1_win }}</p>
    <p>Probability of {{ team2_name }} winning: {{ probability_team2_win }}</p>
    {% endif %}
</div>
{% endblock %}