{% extends 'base.html' %}

{% block title %}Team Analysis - AIST{% endblock %}

{% block content %}
    <!-- Page content -->
    <div class="container">
        <h2>Player Analysis</h2>
        <p>This page helps users analyze basketball players' performance. Users can choose a team and year, then pick a specific player to analyze. 
            The system shows detailed player information like 
            <b class="text-primary" style="display: inline;">position, age, and team, and predicts their performance</b>
             using a 
            <b class="text-primary" style="display: inline;"> linear regression model</b> 
             based on stats like 
            <b class="text-primary" style="display: inline;"> games played, minutes played, shooting percentages, rebounds, assists, steals, and blocks</b>.</p>
        <p>It also compares the selected player's performance with others using metrics like 
            <b class="text-primary" style="display: inline;">Player Efficiency Rating (PER)</b>
            , showing if they perform 
            <b class="text-primary" style="display: inline;">better</b>
             or 
            <b class="text-primary" style="display: inline;">worse</b>
             than average.</p>
        <p>Overall, it helps coaches, analysts, and fans understand player performance better.</p>
        <br>
        <form method="post">
            {% csrf_token %}
            <label for="team">Select Team:</label>
            <select id="team" name="team">
                {% for team in teams %}
                <option value="{{ team }}">{{ team }}</option>
                {% endfor %}
            </select>
            <label for="year">Select Year:</label>
            <input type="number" id="year" name="year" min="1990" max="2030">
            <button type="submit">Filter</button>
        </form>
        
        {% if filtered_players %}
        <form method="post">
            {% csrf_token %}
            <label for="player_id">Select Player:</label>
            <select id="player_id" name="player_id">
                {% for player in filtered_players %}
                <option value="{{ player.id }}">{{ player.Player }}</option>
                {% endfor %}
            </select>
            <button type="submit">Analyze</button>
        </form>
        {% endif %}
        
        {% if player_details %}
        <h2>Player Details</h2>
        <p>Position: {{ player_details.Pos }}</p>
        <p>Age: {{ player_details.Age }}</p>
        <p>Team: {{ player_details.Tm }}</p>
        <!-- Add more player details as needed -->
        {% endif %}
        
        {% if predicted_performance %}
        <h2>Predicted Performance</h2>
        <p>Predicted Points Scored: {{ predicted_performance }}</p>
        {% for player, data in comparison_results.items %}
            {% if forloop.first %}
            <p>Player Efficiency Rating: %{{ data.player_per_hundered|floatformat:"2" }}</p>
            {%endif%}
        {% endfor %}
        {% endif %}
        
        {% if comparison_results %}
        <h2>Comparison with Other Players (Player Efficiency Rating)</h2>
        <ul>
            {% for player, data in comparison_results.items %}
            <li>{{ player }}: {{ data.player_per }} vs {{ data.other_player_per }} ({{ data.comparison }})</li>
            {% endfor %}
        </ul>
        {% endif %}        
    </div>
{% endblock %}