{% extends 'base.html' %}

{% block title %}Team Analysis - AIST{% endblock %}

{% block content %}
    <!-- Page content -->
    <div class="container">
        <h2>Player Analysis</h2>
        {% if empty_database %}
        <p>No data available in the database.</p>
        {% else %}
        <form method="post">
            {% csrf_token %}
            <label for="player_name">Enter Player Name:</label>
            <input type="text" id="player_name" name="player_name">
            <button type="submit">Analyze</button>
        </form>
        
        {% if player_details %}
        <h2>Player Details</h2>
        <p>Position: {{ player_details.Pos }}</p>
        <p>Age: {{ player_details.Age }}</p>
        <!-- Add more player details as needed -->
        {% endif %}
        
        {% if predicted_performance %}
        <h2>Predicted Performance</h2>
        <p>Predicted Points Scored: {{ predicted_performance }}</p>
        {% endif %}
        
        {% if comparison_results %}
        <h2>Comparison with Other Players (Player Efficiency Rating)</h2>
        <ul>
            {% for player, data in comparison_results.items %}
            <li>{{ player }}: {{ data.player_per }} vs {{ data.other_player_per }} ({{ data.comparison }})</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endif %}
    </div>
{% endblock %}