{% extends 'base.html' %}

{% block title %}Team Analysis - AIST{% endblock %}

{% block content %}
    <!-- Page content -->
    <div class="container">
        <h2>Team Analysis</h2>

        {% if empty_database %}
        <p>No data available in the database.</p>
        {% else %}
        <form method="post">
            {% csrf_token %}
            <label for="team_name">Select Team:</label>
            <select id="team_name" name="team_name">
                {% for team in teams %}
                <option value="{{ team.Team }}">{{ team.Team }}</option>
                {% endfor %}
            </select>
            
            <button type="submit">Analyze</button>
        </form>
        
        {% if performance_prediction %}
        <h2>Performance Prediction</h2>
        <p>Predicted Wins for Next Year: {{ performance_prediction }}</p>
        {% endif %}
        {% endif %}
    </div>
{% endblock %}